.cont{
    margin: 20px 15px 15px 15px;
    padding-top: 15px;
    height: 6vh;
    width: 90%;
}
.submissions{
    background-color:#f8f9fa;
}
.submi{
    background-color: white;
    width:90%;
    margin: 15px 10px;
    padding: 10px;
    display: flex;
    box-shadow: 5px 5px #38bdf8;
}
.submiicon{
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.deadline{
    border-left: 1px solid black;
   width: 10%;
    margin-left: 10px;
    padding-left: 10px;
}
.desc{
    width: 90%;
}
