.container{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top:50px ;
}
.AttentionBox{
    color: Red;
    /* background-color: Red; */
}
.AttentionBox {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }