@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
body{
    /* font-family: 'Poppins', sans-serif; */
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
.logo{
	padding-left:10px ;
}
.menu{
	list-style-type: none;
	display: flex;
	gap: 24px;
}
.menu a{
	font-weight: 600;
	font-size: 20px;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}
.menu a::after{
	text-decoration: none;
	color: black;
}
.menu a:hover{
	
}
.container{
	display: flex;
	align-items: center;
	gap: 660px;
}