.container{
    width: 60%;
    background-color: #f8f9fa;
    height: 200px;
    margin: 20px auto;
    /* margin-bottom: 25px; */
}
.container::-webkit-scrollbar {
    display: none;
}
.headi{
    width: 60%;
    /* background-color: black; */
    height: 50px;
    margin: 0 auto;
    text-align: left;
}
