.container{
    margin: 100px;
    width: 80%;
    min-height: 60vh;
    /* background: #38bdf8; */
    display: flex;
    flex-direction: column;
}
.subhead{
    height: 5vh;
    width: 60vh;
    /* background: grey; */
}
.sub{
    margin-top: 25px;
    
    height: 300px;
    background-color:#f8f9fa;
}